[
  {
    "method": "POST",
    "route": "/frames",
    "status_code": 500,
    "response": "<!doctype html>\n<html lang=en>\n<title>500 Internal Server Error</title>\n<h1>Internal Server Error</h1>\n<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>\n"
  },
  {
    "method": "POST",
    "route": "/rims",
    "status_code": 500,
    "response": "<!doctype html>\n<html lang=en>\n<title>500 Internal Server Error</title>\n<h1>Internal Server Error</h1>\n<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>\n"
  },
  {
    "method": "POST",
    "route": "/brakes",
    "status_code": 500,
    "response": "<!doctype html>\n<html lang=en>\n<title>500 Internal Server Error</title>\n<h1>Internal Server Error</h1>\n<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>\n"
  },
  {
    "method": "POST",
    "route": "/gears",
    "status_code": 500,
    "response": "<!doctype html>\n<html lang=en>\n<title>500 Internal Server Error</title>\n<h1>Internal Server Error</h1>\n<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>\n"
  },
  {
    "method": "POST",
    "route": "/handlebars",
    "status_code": 500,
    "response": "<!doctype html>\n<html lang=en>\n<title>500 Internal Server Error</title>\n<h1>Internal Server Error</h1>\n<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>\n"
  },
  {
    "method": "POST",
    "route": "/saddles",
    "status_code": 500,
    "response": "<!doctype html>\n<html lang=en>\n<title>500 Internal Server Error</title>\n<h1>Internal Server Error</h1>\n<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>\n"
  },
  {
    "method": "POST",
    "route": "/seatposts",
    "status_code": 500,
    "response": "<!doctype html>\n<html lang=en>\n<title>500 Internal Server Error</title>\n<h1>Internal Server Error</h1>\n<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>\n"
  },
  {
    "method": "POST",
    "route": "/brakepads",
    "status_code": 500,
    "response": "<!doctype html>\n<html lang=en>\n<title>500 Internal Server Error</title>\n<h1>Internal Server Error</h1>\n<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>\n"
  },
  {
    "method": "GET",
    "route": "/frames",
    "status_code": 200,
    "response": "[]\n"
  },
  {
    "method": "GET",
    "route": "/rims",
    "status_code": 200,
    "response": "[]\n"
  },
  {
    "method": "GET",
    "route": "/brakes",
    "status_code": 200,
    "response": "[]\n"
  },
  {
    "method": "GET",
    "route": "/gears",
    "status_code": 200,
    "response": "[]\n"
  },
  {
    "method": "GET",
    "route": "/handlebars",
    "status_code": 200,
    "response": "[]\n"
  },
  {
    "method": "GET",
    "route": "/saddles",
    "status_code": 200,
    "response": "[]\n"
  },
  {
    "method": "GET",
    "route": "/seatposts",
    "status_code": 200,
    "response": "[]\n"
  },
  {
    "method": "GET",
    "route": "/brakepads",
    "status_code": 200,
    "response": "[]\n"
  },
  {
    "method": "PUT",
    "route": "/frames/1",
    "status_code": 404,
    "response": "{\"message\":\"Frame not found\"}\n"
  },
  {
    "method": "PUT",
    "route": "/rims/1",
    "status_code": 404,
    "response": "{\"message\":\"Rim not found\"}\n"
  },
  {
    "method": "PUT",
    "route": "/brakes/1",
    "status_code": 404,
    "response": "{\"message\":\"Brake not found\"}\n"
  },
  {
    "method": "PUT",
    "route": "/gears/1",
    "status_code": 404,
    "response": "{\"message\":\"Gear not found\"}\n"
  },
  {
    "method": "PUT",
    "route": "/handlebars/1",
    "status_code": 404,
    "response": "{\"message\":\"Handlebar not found\"}\n"
  },
  {
    "method": "PUT",
    "route": "/saddles/1",
    "status_code": 404,
    "response": "{\"message\":\"Saddle not found\"}\n"
  },
  {
    "method": "PUT",
    "route": "/seatposts/1",
    "status_code": 404,
    "response": "{\"message\":\"Seatpost not found\"}\n"
  },
  {
    "method": "PUT",
    "route": "/brakepads/1",
    "status_code": 404,
    "response": "{\"message\":\"BrakePad not found\"}\n"
  },
  {
    "method": "DELETE",
    "route": "/frames/1",
    "status_code": 404,
    "response": "{\"message\":\"Frame not found\"}\n"
  },
  {
    "method": "DELETE",
    "route": "/rims/1",
    "status_code": 404,
    "response": "{\"message\":\"Rim not found\"}\n"
  },
  {
    "method": "DELETE",
    "route": "/brakes/1",
    "status_code": 404,
    "response": "{\"message\":\"Brake not found\"}\n"
  },
  {
    "method": "DELETE",
    "route": "/gears/1",
    "status_code": 404,
    "response": "{\"message\":\"Gear not found\"}\n"
  },
  {
    "method": "DELETE",
    "route": "/handlebars/1",
    "status_code": 404,
    "response": "{\"message\":\"Handlebar not found\"}\n"
  },
  {
    "method": "DELETE",
    "route": "/saddles/1",
    "status_code": 404,
    "response": "{\"message\":\"Saddle not found\"}\n"
  },
  {
    "method": "DELETE",
    "route": "/seatposts/1",
    "status_code": 404,
    "response": "{\"message\":\"Seatpost not found\"}\n"
  },
  {
    "method": "DELETE",
    "route": "/brakepads/1",
    "status_code": 404,
    "response": "{\"message\":\"BrakePad not found\"}\n"
  }
]