{
  "requests": [
    {
      "route": "/schema",
      "method": "GET",
      "json_data": null
    }
  ]
}