{
  "requests": [
    {
      "route": "/reminder_periods/schema",
      "method": "GET",
      "json_data": null
    },
    {
      "route": "/reminder_periods/relationships",
      "method": "GET",
      "json_data": null
    }
  ]
}